/* --------------------------------------------------
-------------------------------------------------- */

.schedule-management .laydate_table {
    display: none;
}

.main-body .top form .layui-form-item .layui-input-inline .layui-btn:last-child,
.main-body form .button-box .layui-btn:last-child {
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    background-color: #00cb43;
    padding: 0 28px;
}


/*
.creat-schedule .layui-btn {
    height: 30px;
    line-height: 30px;
    background-color: #2089ff;
    padding: 0 28px;
}

.creat-schedule .reset-input {
    height: 30px;
    line-height: 30px;
    background-color: #00cb43;
    padding: 0 28px;
}
*/


/* --------------------------------------------------
-------------------------------------------------- */


/*table*/


/*.content .table> thead> tr> th:nth-child(1) {
    width: 100px;
}

.content .table> thead> tr> th:nth-child(2) {
    width: 400px;
}

.content .table> thead> tr> th:nth-child(3) {
    width: 190px;
}

.content .table> thead> tr> th:nth-child(4) {
    width: 350px;
}

.content .table> thead> tr> th:nth-child(5) {
    width: 120px;
}

.content .table> thead> tr> th:nth-child(6) {
    width: 120px;
}

.content .table> thead> tr> th:nth-child(7) {
    width: 120px;
}

.content .table> thead> tr> th:last-child {
    width: 245px;
}*/


/*table end*/


/* --------------------------------------------------
-------------------------------------------------- */

.creat-schedule .layui-form-label {
    width: 120px;
    margin-left: 0;
}

.creat-schedule .layui-form-label span {
    color: #ff0000;
    padding-right: 8px;
}

.creat-schedule .layui-input-block {
    margin-left: 140px;
}

.creat-schedule .layui-input {
    display: inline-block;
    max-width: 290px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 0px;
}


/* --------------------------------------------------
-------------------------------------------------- */


/*industry-type checkbox start*/

.industry-type .layui-form-checkbox {
    position: relative;
    height: 30px;
    line-height: 28px;
    margin: 0 10px 10px 0;
    padding-right: 0px;
    border: none;
    background-color: #fff;
    font-size: 0;
    border-radius: 15px;
    transition: .1s linear;
    box-sizing: border-box!important
}

.industry-type .layui-form-checkbox span {
    padding: 0 20px;
    font-size: 12px;
    line-height: 30px;
    background-color: #d2d2d2;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 15px;
}

.industry-type .layui-form-checkbox:hover span {
    background-color: #c2c2c2;
}

.industry-type .layui-form-checkbox i {
    display: none;
    position: absolute;
    right: 0;
    width: 37px;
    color: #fff;
    font-size: 20px
}

.industry-type .layui-form-checkbox:hover i {
    color: #2089ff
}

.industry-type .layui-form-checked,
.industry-type .layui-form-checked:hover {
    border: none;
}

.industry-type .layui-form-checked span,
.industry-type .layui-form-checked:hover span {
    color: #fff;
    background-color: #2089ff
}

.industry-type .layui-form-checked i,
.industry-type .layui-form-checked:hover i {
    color: #2089ff;
}


/*industry-type checkbox end*/


/* --------------------------------------------------
-------------------------------------------------- */

.creat-schedule .layui-form-item .choice-time {
    display: inline-block;
    vertical-align: middle;
}

.creat-schedule .layui-form-item .layui-input-block span.note {
    display: inline-block;
    line-height: 30px;
    padding-left: 15px;
}


/* --------------------------------------------------
-------------------------------------------------- */


/*charging-ways checkbox start*/

.charging-ways .layui-form-checkbox {
    position: relative;
    height: 30px;
    line-height: 28px;
    margin: 0 10px 10px 0;
    padding-right: 30px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    font-size: 0;
    border-radius: 2px;
    transition: .1s linear;
    box-sizing: border-box!important
}

.charging-ways .layui-form-checkbox:hover {
    border: 1px solid #c2c2c2
}

.charging-ways .layui-form-checkbox span {
    padding: 0 10px;
    font-size: 12px;
    line-height: 28px;
    background-color: #d2d2d2;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.charging-ways .layui-form-checkbox:hover span {
    background-color: #c2c2c2;
}

.charging-ways .layui-form-checkbox i {
    position: absolute;
    right: 0;
    width: 37px;
    color: #fff;
    font-size: 20px
}

.charging-ways .layui-form-checkbox:hover i {
    color: #c2c2c2
}

.charging-ways .layui-form-checked,
.charging-ways .layui-form-checked:hover {
    border: 1px solid #2089ff
}

.charging-ways .layui-form-checked span,
.charging-ways .layui-form-checked:hover span {
    color: #fff;
    background-color: #2089ff
}

.charging-ways .layui-form-checked i,
.charging-ways .layui-form-checked:hover i {
    color: #2089ff
}


/*charging-ways checkbox end*/


/* --------------------------------------------------
-------------------------------------------------- */


/*locational-choices*/

.locational-choices .col-xs-3 {
    max-width: 250px;
    min-width: 230px;
}

.locational-choices .choice-box {
    font-size: 12px;
    height: 300px;
    border: 1px solid #e3e3e3;
    padding: 0;
    white-space: inherit;
}


/* --------------------------------------------------
-------------------------------------------------- */


/*choice-box strat*/

.choice-box .table> thead> tr> th {
    color: #fff;
    background-color: #2089ff;
    height: 28px;
    line-height: 28px;
}

.choice-box .table> tbody> tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

.choice-box .table> tbody> tr> td {
    text-align: left !important;
    line-height: 32px;
    background-color: transparent;
    padding: 0 20px;
    border: none;
    border-bottom: 1px solid #d5d5d5;
}

.choice-box .table> tbody> tr:last-child {
    border: none;
}

.choice-box .table> tbody> tr> td:hover {
    color: #fff;
    background-color: #00cb43;
    cursor: pointer;
}

.choice-box .table> tbody> tr.active,
.choice-box .table> tbody> tr.active:hover {
    color: #fff;
    background-color: #2089ff;
}


/*choice-box strat*/


/* --------------------------------------------------
-------------------------------------------------- */


/*choice-button start*/

.locational-choices .col-xs-1 {
    max-width: 32px;
}

.locational-choices .choice-button {
    max-width: 32px;
    height: 300px;
    display: table;
}

.locational-choices .choice-button .button-box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.locational-choices .choice-button .button-box a {
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.locational-choices .choice-button .button-box a:last-child {
    margin-bottom: 0px;
}

.locational-choices .choice-button .button-box a.add-button-all {
    cursor: default;
    background: url(../img/css-sprite.png) -330px 0 no-repeat;
}

.locational-choices .choice-button .button-box a.add-button-all:hover {
    cursor: default;
    background: url(../img/css-sprite.png) -330px 0 no-repeat;
}

.locational-choices .choice-button .button-box a.add-button {
    background: url(../img/css-sprite.png) -370px 0 no-repeat;
}

.locational-choices .choice-button .button-box a.add-button:hover {
    background: url(../img/css-sprite.png) -370px -32px no-repeat;
}

.locational-choices .choice-button .button-box a.delete-button {
    background: url(../img/css-sprite.png) -410px 0 no-repeat;
}

.locational-choices .choice-button .button-box a.delete-button:hover {
    background: url(../img/css-sprite.png) -410px -32px no-repeat;
}


/*choice-button start*/

.creat-schedule .button-box {
    margin-top: 30px;
    text-align: center;
}


/* --------------------------------------------------
-------------------------------------------------- */
