
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1466844801'); /* IE9*/
  src: url('iconfont.eot?t=1466844801#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1466844801') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1466844801') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1466844801#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-exit:before { content: "\e604"; }
.icon-edit:before { content: "\e602"; }
.icon-baobiao:before { content: "\e615"; }
.icon-search:before { content: "\e60f"; }
.icon-yulan:before { content: "\e612"; }
.icon-account:before { content: "\e616"; }
.icon-zanting:before { content: "\e61a"; }
.icon-home:before { content: "\e605"; }
.icon-gou:before { content: "\e600"; }
.icon-help:before { content: "\e606"; }
.icon-newadd:before { content: "\e603"; }
.icon-arrdown:before { content: "\e611"; }
.icon-download:before { content: "\e61d"; }
.icon-plan:before { content: "\e617"; }
.icon-defeat:before { content: "\e60d"; }
.icon-logs:before { content: "\e609"; }
.icon-fenzu:before { content: "\e618"; }
.icon-users:before { content: "\e619"; }
.icon-notpass:before { content: "\e613"; }
.icon-pass:before { content: "\e614"; }
.icon-tags:before { content: "\e60a"; }
.icon-arrowright:before { content: "\e61b"; }
.icon-minus:before { content: "\e601"; }
.icon-start:before { content: "\e61c"; }
.icon-advertiser:before { content: "\e607"; }
.icon-succeed:before { content: "\e60e"; }
.icon-Adp:before { content: "\e60b"; }
.icon-cha:before { content: "\e610"; }
.icon-xuanzeguige:before { content: "\e60c"; }
.icon-shenhe:before { content: "\e608"; }
