/*ad-management-rewrite*/

.ad-management-rewrite .top,
.ad-management-info .top {
    margin-bottom: 0;
}

.ad-management-rewrite .content,
.ad-management-info .content {
    padding-top: 30px;
}

.ad-management-rewrite .content .form-horizontal .control-label {
    font-weight: normal;
}

.ad-management-rewrite .layui-form-new .form-group {
    color: #666;
    font-size: 12px;
    margin-bottom: 10px;
}

.ad-management-rewrite .layui-form-new .form-group input {
    /*color: #bababa;*/
    color: #333;
    font-size: 12px;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 0px;
    box-shadow: none;
}

.ad-management-rewrite .layui-form-new .form-group input.warning {
    border: 1px solid #ff0000;
}

.ad-management-rewrite .layui-form-new .form-group input:focus {
    border-color: #e1e1e1;
    outline: 0;
    box-shadow: none;
}

.ad-management-rewrite .layui-form-new .form-group input.warning:focus {
    border: 1px solid #ff0000;
}

.ad-management-rewrite .layui-form-new p.tips {
    position: relative;
    color: #f56760;
    font-size: 12px;
    text-align: left;
    line-height: 30px;
    padding-left: 20px;
    margin-bottom: 0;
    float: left;
}

.ad-management-rewrite .layui-form-new p i {
    width: 14px;
    height: 14px;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 0;
}

.ad-management-rewrite .layui-form-new p i.exclamation-icon {
    background: url(../img/css-sprite.png) -180px 0 no-repeat;
}

.ad-management-rewrite .layui-form-new .layui-form-item .layui-input-inline {
    width: 100%;
    margin-left: 0;
}

.ad-management-rewrite .layui-form-new .layui-form-item .col-xs-5 {
    margin-bottom: 0;
}

.ad-management-rewrite .layui-form-new .layui-form-item .col-xs-12 {
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.ad-management-rewrite .layui-form-new .layui-form-item .multi-level .col-xs-4 {
    margin-bottom: 10px;
}

.ad-management-rewrite .layui-form-new .multi-level .col-xs-4:first-child {
    padding-left: 15px;
}

.ad-management-rewrite .layui-form-new .multi-level .col-xs-4 {
    padding-left: 5px;
    padding-right: 5px;
}

.ad-management-rewrite .layui-form-new .multi-level .col-xs-4:last-child {
    padding-right: 15px;
}

.ad-management-rewrite .layui-form-new .layui-form-item .multi-level .layui-form-select ul li.layui-this {
    background-color: #2089ff;
    color: #fff;
}

.upload {
    position: relative;
    width: 100%;
    min-height: 170px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    color: #bababa;
    font-size: 12px;
    text-align: left;
    padding-top: 70px;
}

.upload img {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 280px;
    max-height: 150px;
    z-index: 2;
}

.upload .upbar {
    position: absolute;
    margin: -18px 0 0 -56px;
    right: 5px;
    bottom: 5px;
}

.layui-upload-icon i {
    color: #2089ff;
}

.ad-management-rewrite .layui-form-new .button-box {
    margin-top: 30px;
    margin-bottom: 30px;
}


/*ad-management-rewrite end*/


/*ad-management-info*/

.ad-management-info .content p {
    position: relative;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
}

.ad-management-info .content p> span:first-child {
    display: inline-block;
}

.ad-management-info .content p> span:last-child {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 310px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ad-management-info .content .button-box {
    padding: 30px 0;
}

.ad-management-info .content .button-box a {
    color: #2089ff;
    line-height: 30px;
    text-decoration: underline;
    margin-left: 10px;
}


/*ad-management-info end*/
