
.checkbox span.checkbox input {
    opacity: 1 !important;
}

.checkbox span.checkbox i {
    display: none !important;
}

.table> tbody> tr> td> a {
    margin-right: 10px;
}

.new-account {
    padding-bottom: 60px;
}

.account .option .recharge-type .radio input {
    opacity: 1 !important;
}

.account .option .recharge-type .radio i {
    display: none !important;
}
